%section#marketing
  %div.navigation.table
    %div.cell
      %div.navbar
        %a.logo{href: '#marketing'}

        %ul.nav
          %li
            %a.selected{href: '#marketing'} <i class='icon-star icon-white'></i>
          %li
            %a{href: '#about'} <i class='icon-user icon-white'></i>
          %li
            %a{href: '#contact'} <i class='icon-envelope icon-white'></i>

  %div.content.table
    %div
      = image_tag('webp_pyramid.png')
      %div.centered
        %h3
          Hello, je suis <span class='label-name'>Samuel El-Borai</span>, un développeur indépendant situé à <span class='label-city'>Lausanne</span>.
          <br>
          <a href='#contact'>Contactez-moi</a> !


%section#about
  %div.navigation.table
    %div.cell
      %div.navbar
        %a.logo{href: '#marketing'}
          = image_tag('webp_logo.png')
        %span.navlabel Compétences
        %ul.nav
          %li
            %a{href: '#marketing'} <i class='icon-star icon-white'></i>
          %li.selected
            %a{href: '#about'} <i class='icon-user icon-white'></i>
          %li
            %a{href: '#contact'} <i class='icon-envelope icon-white'></i>

  %div.content.table
    %div
      %div.centered
        %p Développement <span class='label-ruby'>Ruby</span>, <span class='label-csharp'>C#</span> et <span class='label-javascript'>Javascript</span>.
        %p Création de sites web avec <span class='label-rails'>Ruby on Rails</span> et <span class='label-ember'>EmberJS</span>.
        %p Conception d'interfaces web responsives en HTML5 et CSS3.
        %p Utilisation et gestion de bases de données relationnelles.
        %p Maîtrise des environnements <span class='label-linux'>Linux</span>, <span class='label-windows'>Windows</span> et <span class='label-macos'>Mac OS X</span>.
        <br>
        %p Intérêts pour la programmation fonctionnelle et l'utilisation de <span class='label-clojure'>Clojure</span>.
        %p Photographe sur mon temps libre.
        <br>
        %p Mes compétences vous intéressent ? <a href='#contact'>Contactez-moi</a> !


%section#contact
  %div.navigation.table
    %div.cell
      %div.navbar
        %a.logo{href: '#marketing'}
          = image_tag('webp_logo.png')
        %span.navlabel Contacts
        %ul.nav
          %li
            %a{href: '#marketing'} <i class='icon-star icon-white'></i>
          %li
            %a{href: '#about'} <i class='icon-user icon-white'></i>
          %li.selected
            %a{href: '#contact'} <i class='icon-envelope icon-white'></i>

  %div.content.table
    %div
      %div.centered
        %p Samuel El-Borai, je vis actuellement à Lausanne, en Suisse romande.
        %p Je travaille avec des particuliers, des associations et des entreprises.
        <br>
        %p N'hésitez pas à m'approcher pour discuter d'un projet.
        <br>
        %ul
          %li
            = image_tag('twitter_logo.png', width: 60)
            %a{href: 'https://twitter.com/dgellow', target: '_blank', class: 'label-twitter'} @dgellow</span>
          %li
            = image_tag('github_logo.png', width: 60)
            %a{href: 'https://github.com/dgellow', target: '_blank', class: 'label-github'} github.com/dgellow
          %li
            = image_tag('email_logo_68x64.png', width: 60)
            %a{href: 'mailto:samuel.elborai@gmail.com', class: 'label-mail'}samuel.elborai@gmail.com
          %li
            = image_tag('phone_logo_68x64.png', width: 60)
            %a{href: 'tel:0797612332', class: 'label-phone'} +41 79/761.23.32